/*Tripoli Reset*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  outline: none;
}

code,
kbd,
samp,
pre,
tt,
var,
textarea,
input,
select,
isindex,
listing,
xmp,
plaintext {
  font: inherit;
  font-size: 1em;
  white-space: normal;
}

dfn,
i,
cite,
var,
address,
em {
  font-style: normal;
}

th,
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a,
img,
a img,
iframe,
form,
fieldset,
abbr,
acronym,
object,
applet,
table {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td,
center {
  text-align: left;
  vertical-align: top;
}

body {
  line-height: 1;
  background: white;
  color: black;
  max-height: 2000px;
  height: 100%;
  min-width: 75em;
}

q {
  quotes: "" "";
}

sub,
sup {
  vertical-align: baseline;
}

a {
  color: inherit;
}

hr {
  display: none;
} /* we don't need a visual hr in layout */

font {
  color: inherit !important;
  font: inherit !important;
} /* disables some nasty font attributes in standard browsers */

marquee {
  overflow: inherit !important;
  -moz-binding: none;
}

blink {
  text-decoration: none;
}

/*Title*/
#brand {
  text-align: center;
  font-size: 50px;
  padding-top: 1em;
  font-weight: bold;
}
/*Nav Section*/
.nav-link {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-right: solid;
  font-size: 30px;
}
a:hover,
a:active {
  border-bottom: solid;
}
a:active {
  border-bottom: hidden;
}
/*About*/
#about-section {
  font-family: courier;
  max-height: 2000px;
  height: 100%;
  display: block;
}
#post {
  background-color: #f5f5f5;
  margin: 10em;
  margin-bottom: 0em;
  margin-top: 5em;
  max-height: 1000px;
  padding: 5em;
  padding-bottom: 5em;
}
h3 {
  font-size: 60px;
  margin-bottom: 1em;
}
h4 {
  margin-top: 5em;
}
.pstyle {
  font-size: 20px;
  margin-bottom: 2em;
  color: #606060;
  line-height: 30px;
  margin-right: auto;
}
ol {
  margin-left: 5em;
}
.authorstyle {
  font-family: courier; 
  font-size: 20px; 
  font-weight: bold;
  margin: auto;
  align-items: center;
  margin-left: 0.7em;
  margin-top: 0.5em;
  text-decoration: none;
}
.authorimg {
  width: 100px; 
  height: 100px;  
  border-radius: 100%;
  margin: auto;
  align-items: center;
  display: inline-block;
}
.authorlist {
  display: inline-block;
  margin: 2em 2em 2em auto;
}
/*End Bar
.endbar {
  background-color: #77dd77;
  border-top: solid;
  padding: 1em 2em 4em 2em;
  text-align: right;
  color: #808080;
  margin-top: em;
}*/
